.body_centrale, .header{
    width: 90%;
	margin: auto;
}

.blu{
    color: rgb(89, 189, 223);
}

.background_giallo{
    background-color: yellow;
}


.img-base{
    width: 20%;
    background-color: lightblue;
    background-repeat: repeat-x;
}

.grey{
    color: grey;
}

.block{
    display: block;
}

.top-left {
    position: absolute;
    top: 3%;
    left: 10px;
    color: white;
  }

  .container {
    position: relative;
  }

  th{
    color: white;
    background-color: blue;
  }
  
  .lightblue-background{
    background-color: lightblue;
  }

  .foto_centrale{
  height: 500x;
	margin: auto;
}

.header{
  height: 100px;
  background-color: #4ea0ff;
  background-image: url(../img/pattern.png);
}

#LOGO{
  height: 50px;
}